[user]
	email = panavtec@gmail.com
	name = Christian Panadero
	signingkey = 88EF58F88BE619F6
[credential]
	helper = cache --timeout 86400
[color]
	ui = auto
[merge]
  log = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[core]
  excludesfile = ~/.gitignore.global
