holiday.en-GB1.name=Good Friday
holiday.en-GB1.date=20170414
holiday.en-GB2.name=Easter Monday
holiday.en-GB2.date=20170417
holiday.en-GB3.name=Early May bank holiday
holiday.en-GB3.date=20170501
holiday.en-GB4.name=Spring bank holiday
holiday.en-GB4.date=20170529
holiday.en-GB5.name=Summer bank holiday
holiday.en-GB5.date=20170828
holiday.en-GB6.name=Christmas day
holiday.en-GB6.date=20171225
holiday.en-GB7.name=Boxing day
holiday.en-GB7.date=20171226
holiday.en-GB8.name=New Year's Day
holiday.en-GB8.date=20180101

