[user]
  email = panavtec@gmail.com
  name = Christian Panadero
  signingkey = 88EF58F88BE619F6
[includeIf "gitdir:~/code/habito/"]
  path = ~/dotfiles/config/git/.gitconfig-habito
[credential]
  helper = cache --timeout 86400
[diff]
  tool = vimdiff
[color]
  ui = auto
[merge]
  log = true
[pager]
  diff = diff-so-fancy | less --tabs=1,5 -RFX
  show = diff-so-fancy | less --tabs=1,5 -RFX
[core]
  excludesfile = ~/.gitignore.global
[alias]
  discard = !git clean -df && git checkout -- .
  prunelocal = !git branch -d $(git branch --merged)